body {
    background-color: #FAF9F6;
    text-align: center;
    color: black!important;
}
.navbar {
    background-color: #1ba39c !important;
}
.form-class {
    width: 30%;
    display: inline-block;
}
